# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xccheckout
*.xcuserstate
*.xcscmblueprint
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Swift Package Manager
.build/
Packages/
/*.xcodeproj

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Archives
*.ipa
*.dSYM
*.dSYM.zip
*.xcarchive

